
.u{
	color: yellow;
	text-align: center;
}
.frame table{
	background-color: aqua;
	border: 10px solid black;
	align-content: center;
	margin-right: auto;
	margin-left: auto;
}
table td input[type="button"]{
	border: 1px solid black;
	width: 150px;
	height: 150px;
}
body{
	background-image: url('toe.jpg');
	background-repeat: no-repeat;
	background-size: cover;


}